<br>
<br>
<br>
<!-- <hr> -->
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">&copy;&nbsp;&nbsp;Copyright Meysam Mahdavikhansari - Portfolio MEAN project</p>
    </div>
</footer>
<!-- Script tags for using JQuery and Bootstrap -->
<!-- <script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>"
</script>
<script src="/javascripts/appClient.js"></script>
</body>
</html> -->
